@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}



.buscador {
  position: relative;
  height: 50px;
}

.buscador .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
  border-radius: 50px;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
  border-radius: 50px;
}

.btn:focus,
.input:focus {
  outline: none;
}

.buscador.active .input {
  width: 200px;
}

.buscador.active .btn {
  transform: translateX(198px);
}